@mixin border {
  border: 2px solid black;
}

@mixin modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card {
    height: 90vh;
    width: 90vw;
    padding: 1rem;
    max-width: 1000px;
    background-color: white;
    @include border;
    border-radius: 30px;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 80%;
      width: 100%;

      .label-input {
        width: 100%;
        display: flex;
        justify-content: space-between;

        input,
        textarea {
          @include border;
          border-radius: 5px;
          resize: none;
          max-width: 70%;
          padding-left: 0.5rem;
        }
        textarea {
          padding: 0.5rem;
        }
      }
    }
  }
}
