@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  top: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Press Start 2P", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#portal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

button,
.btn {
  height: 1.5rem;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0 1rem;
  font-family: inherit;
  max-width: fit-content;
}
